<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content grid">
            <div class="footer-data">
                <h3 class="footer__title">Patras City Bus</h3>
                <p class="footer__description">Travel Easier</p>
            </div>
            <nav>
                <ul class="footer__links">
                    <li><a href="/" class="footer-link">Home</a></li>
                    <li><a href="/routes" class="footer-link">Routes</a></li>
                    <li><a href="/contact/form" class="footer-link">Contact</a></li>
                </ul>
            </nav>
        </div>
        <p class="footer-disclaimer"><span>Disclaimer:</span> All photos are courtesy of <a href="https://unsplash.com/">unsplash.com</a> All credits go to the original creators.</p>
        <p class="footer-copy">&#169; <span id="current-year"></span> All rights reserved. UoP, HCI Group, Why Not D&D</p>
    </div>
</footer>
