{{!-- views/index.hbs --}}
<div class="main container">
    <main class="main">
      <!------- HOME ------->
      <section class="home" id="home">
        <div class="hero-img__container">
            <img src="/img/hero-img-unsplash.jpg" alt="Blurry bus in motion" class="hero-img" />
        </div>
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="slogan">
              Travel Easier<br />
            </h1>
          </div>
          </div>
        </div>
      </section>
     
      
      <!------- Tickets------->
      <section class="ticketselection" id="tickets">
        <h2 class="section-title">Tickets to Select</h2>
        <div class="tickets-container container grid">

          <!-- Ticket 1 -->
          <div class="tickets-card">
              <img
                src="/img/tickets/Blue.jpeg"
                alt="Zone A reduced ticket"
                class="tickets-img"
              />
              <div class="tickets-content">
                <div class="tickets-data">
                  <h3 class="tickets-title">Zone A Reduced</h3>
                </div>
              </div>
            </a>
          </div>

          <!-- Ticket 2 -->
          <div class="tickets-card">
            <img src="/img/tickets/Brown.jpeg" alt="Zone B reduced ticket" class="tickets-img" />
            <div class="tickets-content">
              <div class="tickets-data">
                <h3 class="tickets-title">Zone B Reduced</h3>
              </div>
            </div>
          </div>

          <!-- TIcket 3 -->
          <div class="tickets-card">
            <img src="/img/tickets/Green.jpeg" alt="Zone A regular ticket" class="tickets-img" />

            <div class="tickets-content">
              <div class="tickets-data">
                <h3 class="tickets-title">Zone A Regular</h3>
              </div>
            </div>
          </div>

          <!-- Ticket 4 -->
          <div class="tickets-card">
            <img src="/img/tickets/Orange.jpeg" alt="Zone B regular ticket" class="tickets-img" />
            <div class="tickets-content">
              <div class="tickets-data">
                <h3 class="tickets-title">Zone B Regular</h3>
              </div>
            </div>
          </div>
          </div>
          </section>
    </main>
</div>
