{{!-- views/wallet.hbs --}}
<main class="main wallet-container">
  <section class="profile-info">
    <header>
      <h1>User Profile</h1>
    </header>
    <article class="user-details">
      <img src="/public/img/blank-profile-pic.png" alt="User's Profile Picture" class="profile-pic">
      <h2>Name: John Doe</h2>
      <p>Email: john.doe@example.com</p>
    </article>
    <aside class="additional-info">
      <div class="discount-status">
        <label>Eligible for Discounted Ticket:</label>
        <input type="checkbox" id="discountEligibility" disabled checked>
      </div>
      <p>Balance: 50€</p>
      <p>Tickets Available: 5</p>
    </aside>
  </section>
</main>
